<main class="home-container">
  <app-title />
  <section class="articles">
    <article class="articles__main">
      <app-big-card
        [cardDate]="bigCardInfo.date"
        [cardDescription]="bigCardInfo.description"
        [cardTitle]="bigCardInfo.title"
        [photoCover]="bigCardInfo.photoCover"
        id="4"
      />
    </article>
    <div class="articles__related">
      <app-small-card
        *ngFor="let post of relatedPosts; let last = last"
        [ngClass]="last ? 'last' : ''"
        [cardDate]="post.date"
        [cardTitle]="post.title"
        [photoCover]="post.photoCover"
        [id]="post.id"
      />
    </div>
  </section>
</main>
